<div class="quiz_container">
    <div class="quiz_logo">
        <img src="../../../assets/imgs/logo.png" alt="" srcset="">
        <h3>{{ title }}</h3>
    </div>
    <div class="quiz_questions" *ngIf="!finished">
        <h3>{{ questionSelected.question }}</h3>
    </div>
    <div class="quiz_options" *ngIf="!finished">
        <button class="opcao_resposta" *ngFor="let q of questionSelected.options" (click)="onClickResponder(q.alias)">{{ q.name }}</button>
    </div>
    <div class="quiz_results" *ngIf="finished">
        <h1>Seu resultado é: </h1>
        <p>{{ answerSelected }}</p>
    </div>
</div>